.marquee1 {
    background-color: #ffc000;
    position: relative;
    display: block;
    float: left;
    top: 30px;
    left: 400px;
    width: 880px;
    height: 45px;
    line-height: 45px;
    color: white;
    font-size: 20px;
    overflow: hidden;
    align-content: center;
    align-items: center;}
