/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Kanit');
html, body { height: 100%; }
body {

  font-family: 'Kanit', sans-serif;
  margin: 0;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/009/344/480/large/sylvain-sarrailh-forestofliars1080p.jpg?1518448119);
  background-size: 100%;

}
